* {
    box-sizing: borderbox
}

.logo {
    max-height: 20px;
    padding-right: 5px;
}

nav a {
    padding-right: 15px;
}

.mobilnav
{
    display: none;
}

@media only screen and (max-width: 600px) {
    nav{
        display: none;
    }
    
    .mobilnav {
        display: block;
    }
}

nav a:hover {
    color: red;
    background-color: yellow;
}



